In [1]:
# FastAI
import fastai
from fastai.tabular.all import *

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)

df = pd.read_csv(path / "adult.csv")
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [3]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))
to = TabularPandas(
    df,
    procs=[Categorify, FillMissing, Normalize],
    cat_names=[
        "workclass",
        "education",
        "marital-status",
        "occupation",
        "relationship",
        "race",
    ],
    cont_names=["age", "fnlwgt", "education-num"],
    y_names="salary",
    y_block=CategoryBlock,  # required if doing classification and y_var is 0/1, not required if y is a category
    splits=splits,
)

In [4]:
to.xs.iloc[:2]

,workclass,education,marital-status,occupation,relationship,race,education-num_na,age,fnlwgt,education-num
15382,5,16,5,2,2,5,1,-0.846986,0.185529,-0.035538
17475,5,16,1,2,5,5,1,-0.773817,-0.218193,-0.035538

In [5]:
dls = to.dataloaders(bs=64)

In [6]:
dls.show_batch()

In [31]:
learn = tabular_learner(
    dls, metrics=accuracy
)  # NOTE: Need to use accuracy_multi if target is one-hot encoded

In [32]:
learn.fit_one_cycle(n_epoch=2)

In [13]:
learn.show_results()

In [14]:
row, clas, probs = learn.predict(df.iloc[0])

In [15]:
row.show()

In [16]:
clas, probs

(tensor(1), tensor([0.4389, 0.5611]))

In [17]:
test_df = df.copy()
test_df.drop(["salary"], axis=1, inplace=True)
dl = learn.dls.test_dl(test_df)

In [18]:
learn.get_preds(dl=dl)

(tensor([[0.4389, 0.5611],
         [0.4457, 0.5543],
         [0.9565, 0.0435],
         ...,
         [0.5212, 0.4788],
         [0.7326, 0.2674],
         [0.7528, 0.2472]]),
 None)

# Test Understanding

In [2]:
import os

df = pd.read_parquet("df_preprocessed.parquet")

In [3]:
df = df[
    [
        "presnap_offense_margin",
        "down",
        "distance",
        "yards_to_goal",
        "period",
        "clock_in_seconds",
        "pass",
    ]
]

In [4]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))
to = TabularPandas(
    df,
    procs=[FillMissing, Normalize],
    cont_names=df.drop(columns="pass").columns.tolist(),
    y_names="pass",
    y_block=CategoryBlock,  # required if doing classification and y_var is 0/1, not required if y is a category
    splits=splits,
)

In [5]:
dls = to.dataloaders(bs=64)
dls.show_batch()

In [8]:
learn = tabular_learner(
    dls, metrics=accuracy
)  # NOTE: Need to use accuracy_multi if target is one-hot encoded
learn.fit_one_cycle(n_epoch=10)
learn.show_results()

In [40]:
row, clas, probs = learn.predict(df.iloc[0])
row.show()
clas, probs
test_df = df.copy()
test_df.drop(["pass"], axis=1, inplace=True)
dl = learn.dls.test_dl(test_df)
learn.get_preds(dl=dl)

(tensor([[0.5561, 0.4439],
         [0.4903, 0.5097],
         [0.1692, 0.8308],
         ...,
         [0.1439, 0.8561],
         [0.2929, 0.7071],
         [0.9294, 0.0706]]),
 None)